.main-div{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 80px 40px;
	background: rgba(136, 136, 19, 0.295);
    width:max-content;
}
.main-div input[type=text],.main-div input[type=password]{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: rgb(5, 4, 51);
	font-size: 16px;
}
.sub-div{
    padding:20%;
    text-align:center;
}
#submit{
background: #0066A2;
color: white;
border-style: outset;
border-color: #a20000;
height: 80%;
width: 70%;
font: bold15px arial,sans-serif;
text-shadow: none;
}
.error{
    color:rgba(247, 0, 0, 0.582);
    font-size:10px;
}