.divButtons{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
}
.Div1{
    display: flex;
    border:40px solid rgba(72, 73, 73, 0.116);
    border-width: 50%;
}
.Header{
    margin-right: auto;
    text-align: center;
    flex-direction: column;
    color: lightslategray;
}
.Input-FieldsRow1{
    justify-content:stretch;
}
#error{
    color:rgba(247, 0, 0, 0.582);
    font-size:10px;
}
#Buttons-right{
    display:inline-flex;
    float:right;
    gap:9%;
    margin-right: 7%;
}
.Buttons-left{
    display:flex;
    gap:1%;
    margin-left: 2%;
}
#input{ 
  font-size: 1vw;
  border-color:rgba(119, 136, 153, 0.466);
  height:40%;
  width:30vh
} 
#Requisitiondate{
    font-size: 0.7vw;
    border-color:rgba(119, 136, 153, 0.466);
    height:40%;
    width:30vh
}
#Expirydate{
    font-size: 0.7vw;
    border-color:rgba(119, 136, 153, 0.466);
    height:40%;
    width:30vh
}
#select{
    font-size: 1vw;
    border-color:rgba(119, 136, 153, 0.466);
    height:40%;
    line-height: 1.3vh;
    width:30vh
}
#Remarks{
    font-size:0.7vw;
    height:40%;
    border-color:rgba(119, 136, 153, 0.466);
    width: 61vh;
}
#RequestedBy{
    font-size:1.7vh;
    border-color:rgba(119, 136, 153, 0.466);
    height:40%;
    line-height: 1.3vh ;
    width:30vh
}
#button{
  color:white;
}
.required:before{
    content:"*";
    color:red
}
#equipment{
    font-size: 1vw;
    border-color:rgba(119, 136, 153, 0.466);
    height:40%;
    line-height: 1.5vh;
    width:30vh
}